<div id="test">
  <h1>test template menu</h1>
  <div data-aura-component="home-one"></div>
  <div data-aura-component="home-one"></div>
  <div data-aura-component="home-one"></div>
  <div data-aura-component="home-one"></div>

</div>
